{:paths ["src" "resources"]
 :deps
 {clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}}
 :aliases
 {:run/day1a {:main-opts ["-m" "adventofcode.1a"]}
  :run/day1b {:main-opts ["-m" "adventofcode.1b"]}
  :run/day2a {:main-opts ["-m" "adventofcode.2a"]}
  :run/day2b {:main-opts ["-m" "adventofcode.2b"]}
  :run/day3a {:main-opts ["-m" "adventofcode.3a"]}
  :run/day3b {:main-opts ["-m" "adventofcode.3b"]}
  :run/day4a {:main-opts ["-m" "adventofcode.4a"]}
  :run/day4b {:main-opts ["-m" "adventofcode.4b"]}
  :run/day5a {:main-opts ["-m" "adventofcode.5a"]}
  :run/day5b {:main-opts ["-m" "adventofcode.5b"]}
  :run/day6a {:main-opts ["-m" "adventofcode.6a"]}
  :run/day6b {:main-opts ["-m" "adventofcode.6b"]}
  :run/day7a {:main-opts ["-m" "adventofcode.7a"]}
  :run/day7b {:main-opts ["-m" "adventofcode.7b"]}
  :run/day8a {:main-opts ["-m" "adventofcode.8a"]}
  :run/day8b {:main-opts ["-m" "adventofcode.8b"]}
  :run/day9a {:main-opts ["-m" "adventofcode.9a"]}
  :run/day9b {:main-opts ["-m" "adventofcode.9b"]}
  :run/day10a {:main-opts ["-m" "adventofcode.10a"]}
  :run/day10b {:main-opts ["-m" "adventofcode.10b"]}
  :run/day11a {:main-opts ["-m" "adventofcode.11a"]}
  :run/day11b {:main-opts ["-m" "adventofcode.11b"]}
  :run/day12a {:main-opts ["-m" "adventofcode.12a"]}
  :run/day12b {:main-opts ["-m" "adventofcode.12b"]}
  :run/day13a {:main-opts ["-m" "adventofcode.13a"]}
  :run/day13b {:main-opts ["-m" "adventofcode.13b"]}}
  ;; Development tools
 :dev {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.3.0"}
                    cider/cider-nrepl {:mvn/version "0.28.5"}}
       :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  ;; Optional test configuration
 :test {:extra-paths ["test"]
        :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
        :main-opts ["-m" "kaocha.runner"]}}

